
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">home</i><span data-translate="DASHBOARD"></span></a></li>
        <li><a md-button aria-label="menu" href="#!/page/profile"><i class="fa fa-user"></i><span>My Profile</span></a></li>
        <li>
            <a md-button aria-label="menu" href="#!/form"><i class="fa fa-question-circle"></i><span>Types Of Question</span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/dashboard_academics"><span><i class="fa fa-university"></i>&nbsp;&nbsp;Academics</span></a></li>
                <li><a md-button aria-label="menu" href="#!/dashboard_placement"><span><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;Placement</span></a></li>
                <li><a md-button aria-label="menu" href="#!/dashboard_sports"><span><i class="fa fa-futbol-o"></i>&nbsp;&nbsp;Sports</span></a></li>
                <li><a md-button aria-label="menu" href="#!/dashboard_fest"><span><i class="fa fa-odnoklassniki"></i>&nbsp;&nbsp;Fest</span></a></li>
                <li><a md-button aria-label="menu" href="#!/dashboard_club"><span><i class="fa fa-users"></i>&nbsp;&nbsp;Club</span></a></li>
                <li><a md-button aria-label="menu" href="#!/dashboard_other"><span><i class="fa fa-random"></i>&nbsp;&nbsp;Others</span></a></li>

                <li><a md-button aria-label="menu" href="#!/dashboard"><span><i class="fa fa-globe"></i>&nbsp;&nbsp;ALL</span></a></li>
            </ul>
        </li>
        <li><a md-button aria-label="menu" href="#!/page/blog"><i class="fa fa-newspaper-o"></i><span>BLOGS</span></a></li>
</div>
