<div class="page-signin">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h1><a href="/a/index.html">KIUORA</a></h1>
                        </section>

                        <form class="form-horizontal">
                          <div form="signin">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text" required class="form-control" ng-model="username">
                                        <span class="input-bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password" required class="form-control" ng-model="pass">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="text-small" style="color:red">{{error}}</p>
                                </div>
                            </fieldset>
                            <div class="card-action no-border text-right">
                                <md-button ng-click="submit()" class="color-primary">Sign in</md-button>
                            </div>
                          </div>
                        </form>
                    </div>

                </div>

                <div class="additional-info">
                    <a href="#!/page/signup">Register</a>
                    <span class="divider-h"></span>
                    <a href="#!/page/forgot-password">Forgot your password?</a>
                </div>

            </div>
        </div>

    </div>

</div>
